<!DOCTYPE html>
<html>
<head>
  <title>Emma Spencer</title>
</head>
<body>
<!-- navigation -->
  <nav class="navigation-wrapper">
    <h1 class='title'><a href="navigation-wrapper">Emma Spencer</a></h1>
    <div class="buttons-wrapper">
      <ul>
        <a href="about"><li>
          ABOUT
        </li></a>
        <a href="work"><li>
          WORK
        </li></a>
        <a href="contact"><li>
          CONTACT
        </li></a>
        <a class='direct-link' href="http://github.com/enspencer" target='_blank'><li>
          GITHUB
        </li></a>
      </ul>
    </div>
  </nav>
<div class='all_content'>

<!-- hero image -->
<div class='hero'>
</div>

<!-- about -->
  <section class='about'>
    <div class='about-content row'>
      <div class='small-12 medium-4 columns'>
        <h2>about me</h2>
        <p>Hi! I'm a web developer in Boston. I write mostly in Ruby and Javascript. I like RESTful APIs, writing gems, etc.</p>
      </div>
      <div class='small-12 medium-4 columns'>
        <h2>what I do</h2>
        <p>more stuff here</p>
      </div>
      <div class='small-12 medium-4 columns'>
        <h2>find me on</h2>
          <ul>
            <li><p>Twitter</p></li>
            <li><p>LinkedIn</p></li>
            <li><p>Facebook</p></li>
          </ul>
      </div>
    </div>
  </section>

  <div class='section-spacer'></div>

  <section class='work'>
    <div class='row'><h1>Work</h1></div>
    <div class='work-content row'>

      <div class='small-6 columns project'>
        <h2>Ladyparts</h2>
        <span class='project-description'>Ladyparts explores lady-friendly films.</span>
        <span class='project-link'><a href='http://ladyparts.herokuapp.com'>Check it out!</a></span>
      </div>

      <div class='small-6 columns project'>
        <h2>nytimes-bestsellers Ruby gem</h2>
        <span class='project-description'>A gem for the NYTimes Best Sellers API.</span>
        <span class='project-link'><a href='http://ladyparts.herokuapp.com'>Check it out!</a></span>
      </div>

      <div class='small-6 columns project'>
        <h2>Sweet Project</h2>
        <span class='project-description'>This is an awesome description</span>
        <span class='project-link'><a href='http://ladyparts.herokuapp.com'>Check it out!</a></span>
      </div>

      <div class='small-6 columns project'>
        <h2>Sweet Project</h2>
        <span class='project-description'>This is an awesome description</span>
        <span class='project-link'><a href='http://ladyparts.herokuapp.com'>Check it out!</a></span>
      </div>


    </div>

  </section>

  <section class='contact'>
    <h1>Contact</h1> 
    <div style='height:500px;'></div>
  </section>
</div>
</body>
</html>