@import url(http://fonts.googleapis.com/css?family=Oleo+Script|Karla|Courgette);

html {
font-family: "Karla", sans-serif;
}

body {
  background-color: #BDE8FF;
  background-repeat: repeat;
  color: #1E8FCC;
}

.main-content {
  margin-top: 200px;
}