@import url(//fonts.googleapis.com/css?family=Montserrat);

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #13597F;
}

a:hover {
  color: #0B354C;
}

body {
  background-color: #BDE8FF;
  background-repeat: repeat;
  color: #1E8FCC;
}

.main-content {
  margin-top: 200px;
  line-height: 30px;
}