@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla);

html {
font-family: "Karla", sans-serif;
}

.all_content {
  background-image: url('asfalt.png');
  background-repeat: repeat;
  color: #ddd;
}

.hero {
  background-image: url('heroBack.jpg');
  height: 500px;
  width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oleo Script Swash Caps", sans-serif;
}

.section-spacer {
  height: 100px;
}

/* navigation styles */

a {text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

/* navigation styles */

.navigation-wrapper {
  background: black;
  margin-top: -15px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navigation-wrapper a {
  color: #ddd;
}

.navigation-wrapper li {
  display: inline-block;
  height: 60px;
  padding: 40px 35px 50px 35px;
}

.navigation-wrapper ul {
    margin-bottom: 0;
}

.navigation-wrapper li:hover {
  background: #333;
}

.navigation-wrapper a:hover {
  color: white;
}

.navigation-wrapper .title {
  position: absolute;
  text-indent: 30px;
  padding-top: 20px;
}

.buttons-wrapper {
  text-align: center;
}

/* section styles */

section {
  text-align: center;
}

.about-content p {
  font-size: 22px;
  text-align: left;
  padding: 10px;
}

/* Portfolio section */

.project {
  margin-bottom: 20px;
}

.project span {
  display: none;
}

.project-image {
  padding: 20px;
}

.project-image img {
  opacity: 0.9;
}